@model  Joker.Models.JokeViewModel
@*@model Joker.Models.Joke*@


@{
    ViewBag.Title = "Index";
}

<h2>JokerFeed</h2>


<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.joke.JokeTitle)
        </th>*@
      
    </tr>

@using (Html.BeginForm("Create", "Joke"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
      
      
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.joke.JokeTitle, new { htmlAttributes = new {@class = "control-label col-md-2"}})
        <div class="col-md-10">
            @Html.EditorFor(model => model.joke.JokeTitle, new {htmlAttributes = new {@class = "form-control"}})
            
            @Html.ValidationMessageFor(model => model.joke.JokeTitle, "", new {@class = "text-danger"})
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
  </div>

}

@foreach (var item in Model.JokeList) {
    <tr>
        <td>

            <p>
                @item.ApplicationUser.UserName.Split('@')[0]
            @Html.ActionLink("Follow", "Following", "Home", new { jokeId = item.Id }, null)
                @Html.ActionLink("Retweet", "Tweet", new { Id = item.Id })
        </p>

        <br />

        @Html.DisplayFor(modelItem => item.JokeTitle)


    </td>
    
    </tr>
}

</table>
