@model  Joker.Models.JokeViewModel
@*@model Joker.Models.Joke*@


@{
    ViewBag.Title = "Index";
}

<h2>JokerFeed</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.joke.JokeTitle)
        </th>
      
    </tr>

@using (Html.BeginForm("Create", "Joke"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Joke</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.joke.JokeTitle, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.joke.JokeTitle, new {htmlAttributes = new {@class = "form-control"}})
            
            @Html.ValidationMessageFor(model => model.joke.JokeTitle, "", new {@class = "text-danger"})
            @*<div
                class="col-md-offset-4 col-md-10">*@
            <input type="submit" value="Create" class="col-md-offset-4 col-md-50"   />
            @*</div>*@
        </div>
    </div>
  </div>




}  
@foreach (var item in Model.JokeList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JokeTitle)
            @*@Html.DisplayFor(modelItem => item)*@
        </td>
     
    </tr>
}

</table>
